@page "/"
@using ShopProject.Shared.ViewModels
@using ShopProject.Shared.Dtos
@using ShopProject.Client.Services
@inject IHttpClientFactory ClientFactory
@inject ICartService CartService


<style>
    .product{
        padding: 5px;
    }

    .product:hover {
        border: 1px solid grey;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 21px -7px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 21px -7px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 21px -7px rgba(66, 68, 90, 1);
    }
    
    img {
        border-radius: 8px;
        max-height: 100px;
        max-width: 100px;
    }
</style>


<div class="container-fluid">
    <h3>Produkty</h3>
    <div class="row">
        <div class="col-12">
            <div class="container-fluid">
                <div class="row mb-2">
                    @foreach (var product in Vm.Products)
                    {
                        <div class="col-12 mb-5 product" href="~/product-info/@product.ProductId">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-3 text-center">
                                        <img src="https://localhost:6001/api/files/@product.ImageId"/>
                                    </div>
                                    <div class="col-6">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12">
                                                    <h4>@product.ProductName</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    @foreach(var category in product.Categories)
                                                    {
                                                        <span class="badge bg-secondary">@category</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-3">
                                        <div class="text-center">
                                            <h2>@product.ProductPrice.ToString()</h2>
                                            <button class="btn btn-success" @onclick="async () => await AddToCart(product)">Dodaj do koszyka</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row mb-2">
                    <div class="btn-toolbar mb-3" role="toolbar">
                        <div class="btn-group me-2" role="group">
                            @for (int i = 1; i <= Vm.MaxPageNo; i++)
                            {
                                int currentPage = i; // Capture the current value of i
                                <button type="button" class="@CurrentPageClass(currentPage)" @onclick="() => DownloadData(currentPage)">@i</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    public ProductsViewModel Vm { get; set; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        var noAuthenticationClient = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        Vm = await noAuthenticationClient.GetFromJsonAsync<ProductsViewModel>("https://localhost:6001/api/products/get-products");
    }
    
    private string CurrentPageClass(int pageNo) => Vm.CurrentPageNo == pageNo ? "btn btn-primary" : "btn btn-outline-secondary";

    private async Task AddToCart(ProductMinimumInfoDto productMinimumInfoDto)
    {
        await CartService.AddToCart(productMinimumInfoDto);
    }

    private async Task DownloadData(int pageNo)
    {
        var noAuthenticationClient = ClientFactory.CreateClient("ServerAPI.NoAuthenticationClient");
        Vm = await noAuthenticationClient.GetFromJsonAsync<ProductsViewModel>($"https://localhost:6001/api/products/get-products/{pageNo}");
        
        StateHasChanged();
    }
}